<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoAgendaContato.Properties.Settings.agendaConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=agenda"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProjetoAgendaContato.Properties.Settings.ConnectionString"
            connectionString="Dsn=conexao;uid=root;pwd=8426" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>